/* navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  /* border-bottom: 2px solid rgb(32,32,32); */
}

.logo img {
  max-height: 30px;
}

.links {
  display: flex;
}

.link {
  margin: 0 10px;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  color: white;
  font-size: 16px;
}

.pill {
  padding: 5px 15px;
  border-radius: 20px;
  background-color: rgb(32, 32, 32);
}

.active .pill {
  color: #000000;
  background-color:aliceblue;
}


.profile-btn {
  background-color: #555;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}

.navbtn {
 outline: none;
 cursor: pointer;
 border: 2px solid whitesmoke;
 padding: 0.9rem 2rem;
 margin: 0;
 font-family: inherit;
 font-size: inherit;
 position: relative;
 display: inline-block;
 letter-spacing: 0.05rem;
 font-weight: 700;
 font-size: 16px;
 border-radius: 500px;
 overflow: hidden;
 background: #66ff66;
 color: ghostwhite;
}

.navbtn span {
 position: relative;
 z-index: 10;
 transition: color 0.4s;
}

.navbtn:hover span {
 color: black;
 border: none;

}

.navbtn::before,
.navbtn::after {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
 border: none;
}

.navbtn::before {
 content: "";
 background: #000;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 border: none;
}

.navbtn:hover::before {
 transform: translate3d(100%, 0, 0);
 border: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .logo,
  .profile-btn {
    order: -1; /* Move logo and user button to the top */
    width: 100%; /* Make sure they take full width */
    text-align: center; /* Center the content */
    margin-bottom: 10px; /* Add some spacing between logo/user button and links */
  }

  .links {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px; /* Add some spacing between links and user button */
  }

  .link {
    margin: 0 10px;
  }

  .button {
    font-size: 14px;
  }

  .navbtn {
    padding: 0.7rem 1.5rem;
    font-size: 14px;
  }

  .pill {
    padding: 3px 10px;
    border-radius: 15px;
  }
}


